<h1>{
    
    align-content: center;
}
body{
        background-image:url("https://img.wallpapersafari.com/desktop/1920/1080/24/41/DFxIKP.jpg");
        }
        
div{
    background: rgba(255,255,255,0.7);
    
}